md-toolbar {
  &.banner {
    background-color: #ffebee;
  }
  &.md-hue-gradient {
    //rgb(213,0,0);
    //rgb(66,66,66);
  }
  > md-content {
    background-color: transparent;
  }
}

md-button {
  &.fixed {
    position: fixed;
  }
}

md-sidenav.site-sidenav {

  width: 256px;
  max-width: 256px;
  min-width: 256px;

  md-toolbar {
    &:last-child {
      margin-top: 8px;
    }
  }

  md-content {
    
  }
  
  
}