<md-divider></md-divider>

<md-toolbar class="md-hue-2 md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <span flex></span>
    <span>
      <md-button class="md-icon-button" aria-label="GitHub">
        <md-icon md-svg-icon="github"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="CodePen">
        <md-icon md-svg-icon="codepen"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="LinkedIn">
        <md-icon md-svg-icon="linkedin"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="AngelList">
        <md-icon md-svg-icon="angellist"></md-icon>
      </md-button>
    </span>

  </div>

</md-toolbar>