
/*
.navbar {
  .md-subheader {
    >.md-subheader-inner {
      padding: 0px;
      display: inline-block;
      >.md-subheader-content {
        .md-button.md-button-toggle {
          margin: 6px 8px;
          padding: 0 6px;
          .md-toggle-icon {
            dispaly: inline-block;
            vertical-align: top;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            &.toggled {
              transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
            }
          }
        }
      }
    }
  }
}


  svg {
    pointer-events: none;
  }

  &[md-font-icon] {
    line-height: 1;
  }
*/