<md-toolbar class="md-hue-1 md-whiteframe-z2">
  <div class="md-toolbar-tools" 
       layout="row" 
       layout-align="space-between center">

    <span>
      <h1 class="md-title">Jonathan Ho</h1>
    </span>

    <span hide-sm>
      <h2 class="md-subhead">
        <small>Web Developer</small>
        <small hide-md> · New York NY</small>
      </h2>
    </span>

    <span flex hide-md hide-sm></span>

    <span flex>
      <md-tabs md-stretch-tabs="auto"
               md-selected="hm.selectedTab"
               md-swipe-content
               md-no-pagination
               hide>
        <md-tab ng-repeat="tab in hm.tabs"
                md-on-select="hm.onTabSelect(tab.state)">
          <md-tab-label>
            <span hide-sm hide-md>{{tab.title}}</span>
            <md-icon hide-gt-md md-svg-icon="{{tab.icon}}"></md-icon>
          </md-tab-label>
        </md-tab>
      </md-tabs>
    </span>
    <!-- TODO:  Integrate with md-ink-bar in md-tabs
    <md-progress-linear class="md-accent"
                        layout="row" flex
                        md-mode="indeterminate">
    </md-progress-linear>
    -->

    <md-button class="md-icon-button" 
               aria-label="Open Sidebar"
               ng-click="vm.openSidenav()">
      <md-icon md-svg-icon="menu-bars"></md-icon>
    </md-button>

  </div>
</md-toolbar>
