<md-toolbar class="md-hue-1 md-whiteframe-z2">
  <div class="md-toolbar-tools" 
       layout="row" 
       layout-align="space-between center">

    <div layout="row" layout-align="start center" flex-gt-md>

      <span>
        <h1 class="md-title">Jonathan Ho</h1>
      </span>

      <span hide-sm>
        <h2 class="md-subhead">
          <small>Web Developer</small>
          <small hide-md> · New York NY</small>
        </h2>
      </span>

    </div>

    <div layout="row" layout-align="end center" flex>
      <md-tabs md-stretch-tabs="auto"
               md-selected="hm.selectedTab"
               md-swipe-content
               flex>

        <md-tab ng-repeat="tab in hm.tabs"
                md-on-select="hm.onChangeTab(tab.state)">

          <md-tab-label>
            <span hide-sm hide-md>{{tab.title}}</span>
            <md-icon hide-gt-md md-svg-icon="{{tab.icon}}"></md-icon>
          </md-tab-label>
          
        </md-tab>
      </md-tabs>

    </div>

  </div>
</md-toolbar>




<!--
<div class="intro">This demonstration shows how Angular-Material Tabs can be used with Angular-UI-Router<div><div ng-app="dsntApp" ng-controller="tabCtrl" layout="column" class="demo" ><script type="text/ng-template" id="partials/view1.html">  Tab #1 </script><script type="text/ng-template" id="partials/view2.html">  Tab #2 </script><script type="text/ng-template" id="partials/view3.html">  Tab #3 </script>
  <md-toolbar><h2 class="md-toolbar-tools"><span>Toolbar</span></h2></md-toolbar>
  <md-tabs md-stretch-tabs md-selected="selectedIndex">
     <md-tab label="tab1"></md-tab> 
     <md-tab label="tab2"></md-tab>
     <md-tab label="tab3"></md-tab>  
  </md-tabs>

  <div id="content" ui-view flex> </div>

</div>




<md-button class="md-icon-button" aria-label="Menu">
  <md-icon md-svg-icon="morev"></md-icon>
</md-button>
-->

