<div id="home" layout="row" layout-wrap>
<!--
  <section id="expertise" class="md-accent"
           layout="column" 
           flex="40" flex-md="35" flex-lg="30" flex-gt-lg="25">
-->




  <md-sidenav class="site-sidenav md-sidenav-left"
              md-is-locked-open="$mdMedia('gt-md')"
              md-component-id="left"
              layout="column">
    <md-content class="md-whiteframe-z2 md-margin">
      <md-list>
      <md-subheader>Areas of Expertise</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="area in ctrl.areas">
          <img ng-src="{{area.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{area.text}}</h3>
            <md-progress-linear class="md-accent" md-mode="determinate" value="{{area.rank}}"></md-progress-linear>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <!--
  </section>
  -->
  <section id="brand" layout="column" flex>

    <md-content class="md-whiteframe-z4 md-padding md-margin"
                flex>
      <p class="brand">
        <strong>Front-End Web Developer</strong> with <strong>Back-End/Server-Side</strong> experience, including exposure to: <strong>jQuery/AJAX</strong>, <strong>AngularJS</strong> and various <strong>JavaScript</strong> and <strong>MVC frameworks</strong>; <strong>SQL/NoSQL</strong> database systems and <strong>REST API</strong> design and integration; and <strong>Responsive Web Design</strong> with an eye for <strong>Cross-Browser</strong>, <strong>Platform-Agnostic UI Development</strong>.</p>
      <p class="brand" hide>
        Possesses twenty years of interaction with computer systems and web technologies, culminating in an extraordinarily astute ability in learning new technologies, concepts, and languages.
      </p>
      <p class="brand">
        Sociable and inquisitive team player with a passion for learning and continuous self-improvement.  Highly detail-oriented, and well-attuned to business as well as the human psyche.  Enjoys exploring potential of new technologies.  Likes people.  Allergic to cats.
      </p>
    </md-content>
<!--
    <md-content class="md-whiteframe-z4 md-padding md-margin"
                flex-gt-lg="33">
      <md-subheader>View Résumé</md-subheader>
        <md-list-item ng-repeat="link in ctrl.links">
          <img ng-src="{{link.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <p>{{link.text}}</p>
          </div>
        </md-list-item>
    </md-content>
-->
  </section>



  <md-sidenav class="site-sidenav md-sidenav-right"
              md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="right"
              layout="column">
<!--
    <md-toolbar class="md-accent md-hue-2"
                ng-click="vm.closeSidenav()">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   aria-label="Close Sidenav"
                   hide-gt-md>
          <md-icon md-svg-icon="arrow-right"></md-icon>
        </md-button>
        <span flex></span>
      </div>
    </md-toolbar>
-->
    <md-content class="md-whiteframe-z2 md-margin">
      <md-list>
        <md-subheader>View Résumé</md-subheader>
        <md-list-item ng-repeat="link in ctrl.links">
          <img ng-src="{{link.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <p>{{link.text}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <md-content class="md-whiteframe-z2 md-margin">
      <md-list>
        <md-subheader>Contact</md-subheader>
        <md-list-item ng-repeat="link in ctrl.links">
          <img ng-src="{{link.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <p>{{link.text}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

</div>