
<!-- BEGIN HEADER -->
<md-toolbar class="md-hue-1 md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <span flex></span>
    <span>
      <h1 class="md-title">Jonathan Ho</h1>
    </span>
    <span hide-sm>
      <h2 class="md-subhead">
        Web Developer · New York NY
      </h2>
    </span>
    <span flex hide-sm></span>
  </div>
  <div class="md-toolbar-tools" hide-gt-sm>
    <span flex></span>
    <span>
      <h2 class="md-subhead">
        Web Developer · New York NY
      </h2>
    </span>
  </div>
</md-toolbar>
<!-- ENDOF HEADER -->



<!-- BEGIN SHELL -->

<md-content id="shell" layout-fill layout="row">


  <span layout="column" layout-fill hide-sm flex-md="5" flex-lg="10" flex-gt-lg="15"></span>

  <md-content md-scroll-y layout="column" flex>

    <md-content class="md-whiteframe-z4 md-padding md-margin" flex>
      <p class="brand">
        <strong>Front-End Web Developer</strong> with experienced with both <strong>Front-End</strong> and <strong>Back-End</strong> web development, including exposure to: <strong>Node.js, AngularJS</strong> and various <strong>JavaScript</strong> and <strong>MVC frameworks</strong>; <strong>jQuery</strong> and <strong>AJAX</strong>; developing, integrating and consuming <strong>RESTful APIs</strong>; and principles of <strong>Responsive Web Design</strong> by way of developing <strong>Cross-Browser</strong>, <strong>Platform-Agnostic User Interfaces</strong>.</p>
      <p class="brand">
        Sociable and inquisitive team player with a passion for learning and continuous self-improvement.  Highly detail-oriented; well-attuned to matters of business, and of the human psyche.  Enjoys exploring the potential of new technologies and innovations.  Likes people.  Allergic to cats.
      </p>
    </md-content>

    <md-content class="md-whiteframe-z2 md-padding md-margin" flex layout="row">
      <md-subheader>Résumé</md-subheader>

      <ul class="buckets" layout layout-wrap layout-align="center center" flex>
        <li flex="25" flex-md="50" flex-sm="50" ng-repeat="link in vm.links">
          <a class="md-raised md-button" ng-href="{{link.link}}">
            <span>{{link.text}}</span>
          </a>
            <md-icon class="block" md-svg-src="{{link.icon}}"></md-icon>
        </li>
      </ul>

      <md-grid-list flex md-grid-col="3">
      </md-grid-list>

    </md-content>

    <md-content class="md-whiteframe-z3 md-padding md-margin" flex layout="row">

      <md-list flex="100" flex-gt-md="66">
        <md-subheader>Areas of Expertise</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="area in vm.areas">
          <img ng-src="{{area.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{area.text}}</h3>
            <md-progress-linear class="md-accent" md-mode="determinate" value="{{area.rank}}"></md-progress-linear>
          </div>
        </md-list-item>
      </md-list>

      <md-content flex="100" flex-gt-md="33">
        <md-subheader>Mastery In Progress</md-subheader>

      </md-content>

    </md-content>

  </md-content>

  <span layout="column" layout-fill hide-sm flex-md="5" flex-lg="10" flex-gt-lg="15"></span>

</md-content>

  <!-- BEGIN SIDENAV-RIGHT -->

<!--
  <md-sidenav class="site-sidenav md-sidenav-right"
              md-is-locked-open="$mdMedia('gt-md')"
              md-component-id="right"
              layout="column">
    <md-content class="md-whiteframe-z2 md-margin">
      <md-list>
        <md-subheader>View Résumé</md-subheader>
        <md-list-item ng-repeat="link in vm.links">
          <img ng-src="{{link.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <p>{{link.text}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <md-content class="md-whiteframe-z2 md-margin">
      <md-list>
        <md-subheader>Contact</md-subheader>
        <md-list-item ng-repeat="contact in vm.contacts">
          <md-icon md-svg-icon="{{contact.icon}}"></md-icon>
          
          <p>{{contact.text}}</p>
          
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
-->

  <!-- ENDOF SIDENAV-RIGHT -->




<!-- ENDOF SHELL -->



<!-- BEGIN FOOTER -->
<footer ng-include="'app/portfolio/partials/footer.html'">
</footer>
<!-- ENDOF FOOTER -->