md-toolbar {
  z-index: 3;
  .md-toolbar-tools {
    span {
      .md-title {
        font-size: 36px;
        font-weight: 600;
        line-height: 64px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.87);
        padding: 0 8px;
      }
      .md-subhead {
        font-size: 24px;
        font-weight: 500;
        line-height: 48px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.54);
        padding: 0 4px;
      }
    }
  }
}

ul.buckets {
  margin: 24px 0 24px -8px;
  padding: 0;
  position: relative;
}
ul.buckets li {
  list-style: none;
  margin: 0;
  text-align: center;
}
ul.buckets li md-card md-card-content {
  padding: 0;
}
ul.buckets li a {
  display: block;
  font-weight: 500;
  padding: 16px 0;
  text-decoration: none;
  -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  background-color: #f6f6f6 !important;
  box-shadow: none !important;
  margin-right: 0;
  margin-top: 0;
}
ul.buckets li a,
ul.buckets li a md-icon {
  color: #666 !important;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
ul.buckets li a:hover,
ul.buckets li a:focus,
ul.buckets li a:hover md-icon,
ul.buckets li a:focus md-icon {
  color: #106CC8 !important;
  background-color: #ebebeb !important;
}