md-toolbar {


  z-index: 3;
  height: 48px;
  max-height: 48px;
  min-height: 48px;
  //padding: 0 16px;
  .md-toolbar-tools {
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    span {
      .md-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.87);
        padding-right: 4px;
      }
      .md-subhead {
        //font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }


}