
  <md-toolbar class="md-hue-1 md-whiteframe-z2">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Open Sidebar" 
                 ng-click="vm.openSidenav()"
                 hide-gt-sm>
        <md-icon md-svg-icon="menu-bars"></md-icon>
      </md-button>
      <span>
        <h1 class="md-title">Jonathan Ho</h1>
      </span>
      <span hide-sm>
        <h2 class="md-subhead">
          <small>Web Developer</small>
          <small> · New York NY</small>
        </h2>
      </span>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Open Sidebar" 
                 ng-click="vm.openRight()"
                 hide-gt-sm>
        <md-icon md-svg-icon="menu-vert"></md-icon>
      </md-button>
    </div>
  </md-toolbar>