<section id="expertise" 
         class="banner md-accent"
         ng-controller="Expertise as ctrl">
  <md-content>
    <section>
      <md-subheader>Areas of Expertise</md-subheader>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="area in ctrl.areas">
          <img ng-src="{{area.icon}}" class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{area.text}}</h3>
            <md-progress-linear class="md-accent" md-mode="determinate" value="{{area.rank}}"></md-progress-linear>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</section>  