<!--<div layout="column"
     flex="25" flex-lg="33" flex-md="45" flex-sm="100" 
     class="navbar md-whiteframe-z2"
     ng-controller="Navbar as nm">
     
  <md-toolbar>

    <div class="md-toolbar-tools">

      <span class="md-headline">{{nm.header}}</span>

    </div>

  </md-toolbar>

  <md-subheader>


    <md-button class="md-button-toggle" 
               ng-click="nm.toggle()">
      
      {{nm.subheader}}
      -->
      <!--
      <span class="md-toggle-icon" ng-class="{'toggled' : nm.isOpen()}">
        <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_expand_more_24px.svg"></md-icon>
      </span>
      -->
      <!--
    </md-button>
  </md-subheader>

  <section>

  <md-divider></md-divider>
  
    <md-list>
      <md-list-item ng-repeat="contact in nm.contacts" class="md-2-line">
        <md-icon class="md-avatar" md-svg-src="{{contact.icon}}" aria=label="{{contact.alt}}"></md-icon>
        <div class="md-list-item-text">
          <h3>{{contact.text}}</h3>
          <p>{{contact.alt}}</p>
        </div>
      </md-list-item>
    </md-list>

  </section>

</div>-->