
<!--
        HEADER
                    -->
<header ng-include="'app/layout/resume/header.html'">
</header>


<!--
        SUMMARY
                    -->
<section id="summary" 
         ng-include="'app/layout/resume/summary.html'">
</section>

<!--
        EXPERTISE
                    -->
<section id="qualifications"
         ng-include="'app/layout/resume/qualifications.html'">
</section>

<!--
        DOWNLOAD
                    -->
<section id="download"
         ng-include="'app/layout/resume/download.html'">
</section>


<!--
        EXPERIENCE
                    -->
<section id="experience"
         ng-include="'app/layout/resume/experience.html'">
</section>

<!--
        EDUCATION
                    -->

<!--
        INTERESTS
                    -->
